body {
    font: 20px "Century Gothic", "Futura", sans-serif;
    margin: 20px;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.square {
    background: #FFFFFF;
    border: 1px solid #999999;
    font-size: 150px;
    font-weight: bold;
    float: left;
    line-height: 34px;
    height: 160px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 160px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
}

.square:focus {
    outline: none;
}

.restart {
    margin-top: 20px;
    margin-left: 92px;
}

.restartButton {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    height: 80px;
    width: 300px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
    background-color: darkcyan;
}

.restartButton:focus {
    outline: none;
}

.restartButton:hover {
    background-color: darkolivegreen;
    box-shadow: 0 1px 12px rgba(32, 33, 36, 1);
}

.restartButton:active {
    background-color: red;
}